body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100vw;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(1, 8, 14, 1) 1%,
    rgba(4, 24, 50, 1) 39%,
    rgba(1, 8, 14, 1) 88%
  );
  color: #fff;
}

header {
  width: 1100px;
  margin: 4rem auto;
}

header .logo {
  width: 20rem;
}

main.container {
  width: 1100px;
  height: auto;
  border: 0.2rem solid #00f4bf;
  margin: 0 auto 6rem;
  padding: 4rem 6rem;
  background-image: url("../assets/PNG/Imagem\ com\ borda.png");
  background-size: cover;
  position: relative;
}

main.container .grafismo {
  background: url("../assets/SVG/Grafismo\ verde.svg");
  width: 50rem;
  height: 3rem;
  position: absolute;
  top: -19px;
  left: -2px;
}

main.container .estado {
  display: flex;
  position: absolute;
  top: -5rem;
  right: 5rem;
}

form.panel {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: 1.5rem;
  margin: 2.5rem 0;
  animation: fade 0.2s ease-in-out;
}

form.panel h2 {
  font-family: "Chakra Petch", sans-serif;
  font-size: 7rem;
  line-height: 110%;
  width: 100%;
}

form.panel h2 span,
.fa-pen-to-square {
  color: #1875e8;
}

form .input-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: .5rem;

  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
}

form .input-group select,
form .input-group input {
  background: none;
  color: white;
  border: .1rem solid #00f4bf;
  border-radius: 0.5rem;
  height: 4rem;
  padding: 1rem;
  font-size: 1.6rem;
}

form .input-group select {
  width: 30rem;
  appearance: none;
  background: url("../assets/PNG/Arrow\ down.png") no-repeat right 1rem top 50%;
  color: black;
  background-color: white;
}

form .input-group input#qtdComprar {
  width: 4rem;
}

form button,
.estado button {
  color: white;
  font-size: 1.6rem;
  width: fit-content;
  height: max-content;
  border: none;
  background-color: #1875e8;
  padding: 1rem 5rem;
  border-radius: 1rem;
  box-shadow: 0px 0px 20px 0px rgba(24, 117, 232, 0.5);
  cursor: pointer;
  transition: 0.1s;
}

form button:hover,
.estado button:hover {
  transform: scale(1.03);
}

.blockBtn {
  background-color: #e81818;
  box-shadow: 0px 0px 20px 0px rgba(232, 24, 24, 0.5);
  cursor: not-allowed;
}

img.hachuras {
  max-width: max-content;
  margin: 4rem 0;
}

.container .section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  margin-bottom: 4rem;
  animation: fade 0.2s ease-in-out;

  #ticket {
    width: 15rem;
  }

  > h2 {
    font-size: 4rem;
    align-self: start;
  }

  > ul {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;

    font-size: 1.6rem;
    font-family: "Inter", sans-serif;
    font-weight: 400;
  }

  > ul li span {
    color: #00f4bf;
    font-style: italic;
    font-size: 1.6rem;
    padding-left: 1.5rem;
  }
}

.container .adminLista {
  align-items: start;
  flex-direction: column;
  justify-content: flex-start;

  > h2 {
    margin-bottom: 4rem;
  }

  > ul {
    flex-direction: column;
    align-items: start;
    gap: 1rem;
    font-size: 1.6rem;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    width: 100%;
  }

  > ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    border: .1rem solid #00f4bf;
    border-radius: .5rem;
    padding: 1rem;
    gap: 2rem;
  }

  > ul li span {
    color: #00f4bf;
    font-style: normal;
    font-size: inherit;
    width: 100%;
    padding: 0;
  }

  > ul li .icons {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 2rem;
  }

  .icons .fa-trash {
    color: #e81818;
  }

  > ul i {
    font-size: 2.2rem;
    cursor: pointer;
    transition: 0.1s;
  }

  > ul i:hover {
    transform: scale(1.2);
  }
}

.hide {
  display: none !important;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
